@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-Bold.eot');
  src: local('Druk Cyr Bold'), local('DrukCyr-Bold'),
      url('https://crpttim.github.io/DrukCyr-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-Bold.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-Bold.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-Heavy.eot');
  src: local('Druk Cyr Heavy'), local('DrukCyr-Heavy'),
      url('https://crpttim.github.io/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-Heavy.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-Heavy.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-HeavyItalic.eot');
  src: local('Druk Cyr Heavy Italic'), local('DrukCyr-HeavyItalic'),
      url('https://crpttim.github.io/DrukCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-HeavyItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-HeavyItalic.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-MediumItalic.eot');
  src: local('Druk Cyr Medium Italic'), local('DrukCyr-MediumItalic'),
      url('https://crpttim.github.io/DrukCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-MediumItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-MediumItalic.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-SuperItalic.eot');
  src: local('Druk Cyr Super Italic'), local('DrukCyr-SuperItalic'),
      url('https://crpttim.github.io/DrukCyr-SuperItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-SuperItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-SuperItalic.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-SuperItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-Super.eot');
  src: local('Druk Cyr Super'), local('DrukCyr-Super'),
      url('https://crpttim.github.io/DrukCyr-Super.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-Super.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-Super.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-Medium.eot');
  src: local('Druk Cyr Medium'), local('DrukCyr-Medium'),
      url('https://crpttim.github.io/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-Medium.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-Medium.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('https://crpttim.github.io/DrukCyr-BoldItalic.eot');
  src: local('Druk Cyr Bold Italic'), local('DrukCyr-BoldItalic'),
      url('https://crpttim.github.io/DrukCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/DrukCyr-BoldItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/DrukCyr-BoldItalic.woff') format('woff'),
      url('https://crpttim.github.io/DrukCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-BoldItalic.eot');
  src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
      url('https://crpttim.github.io/Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-BoldItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-BoldItalic.woff') format('woff'),
      url('https://crpttim.github.io/Inter-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-MediumItalic.eot');
  src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
      url('https://crpttim.github.io/Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-MediumItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-MediumItalic.woff') format('woff'),
      url('https://crpttim.github.io/Inter-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-ThinItalicBETA.eot');
  src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),
      url('https://crpttim.github.io/Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-ThinItalicBETA.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-ThinItalicBETA.woff') format('woff'),
      url('https://crpttim.github.io/Inter-ThinItalicBETA.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'),
      url('https://crpttim.github.io/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-Regular.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-Regular.woff') format('woff'),
      url('https://crpttim.github.io/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-Black.eot');
  src: local('Inter Black'), local('Inter-Black'),
      url('https://crpttim.github.io/Inter-Black.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-Black.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-Black.woff') format('woff'),
      url('https://crpttim.github.io/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-BlackItalic.eot');
  src: local('Inter Black Italic'), local('Inter-BlackItalic'),
      url('https://crpttim.github.io/Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-BlackItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-BlackItalic.woff') format('woff'),
      url('https://crpttim.github.io/Inter-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-LightBETA.eot');
  src: local('Inter Light BETA'), local('Inter-LightBETA'),
      url('https://crpttim.github.io/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-LightBETA.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-LightBETA.woff') format('woff'),
      url('https://crpttim.github.io/Inter-LightBETA.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-SemiBold.eot');
  src: local('Inter Semi Bold'), local('Inter-SemiBold'),
      url('https://crpttim.github.io/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-SemiBold.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-SemiBold.woff') format('woff'),
      url('https://crpttim.github.io/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-ExtraBoldItalic.eot');
  src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
      url('https://crpttim.github.io/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-ExtraBoldItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-ExtraBoldItalic.woff') format('woff'),
      url('https://crpttim.github.io/Inter-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-Bold.eot');
  src: local('Inter Bold'), local('Inter-Bold'),
      url('https://crpttim.github.io/Inter-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-Bold.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-Bold.woff') format('woff'),
      url('https://crpttim.github.io/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-ExtraLightItalicBETA.eot');
  src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),
      url('https://crpttim.github.io/Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-ExtraLightItalicBETA.woff') format('woff'),
      url('https://crpttim.github.io/Inter-ExtraLightItalicBETA.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-ExtraLightBETA.eot');
  src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
      url('https://crpttim.github.io/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-ExtraLightBETA.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-ExtraLightBETA.woff') format('woff'),
      url('https://crpttim.github.io/Inter-ExtraLightBETA.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-ExtraBold.eot');
  src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
      url('https://crpttim.github.io/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-ExtraBold.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-ExtraBold.woff') format('woff'),
      url('https://crpttim.github.io/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-ThinBETA.eot');
  src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
      url('https://crpttim.github.io/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-ThinBETA.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-ThinBETA.woff') format('woff'),
      url('https://crpttim.github.io/Inter-ThinBETA.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-LightItalicBETA.eot');
  src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),
      url('https://crpttim.github.io/Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-LightItalicBETA.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-LightItalicBETA.woff') format('woff'),
      url('https://crpttim.github.io/Inter-LightItalicBETA.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-Italic.eot');
  src: local('Inter Italic'), local('Inter-Italic'),
      url('https://crpttim.github.io/Inter-Italic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-Italic.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-Italic.woff') format('woff'),
      url('https://crpttim.github.io/Inter-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-SemiBoldItalic.eot');
  src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
      url('https://crpttim.github.io/Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-SemiBoldItalic.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-SemiBoldItalic.woff') format('woff'),
      url('https://crpttim.github.io/Inter-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://crpttim.github.io/Inter-Medium.eot');
  src: local('Inter Medium'), local('Inter-Medium'),
      url('https://crpttim.github.io/Inter-Medium.eot?#iefix') format('embedded-opentype'),
      url('https://crpttim.github.io/Inter-Medium.woff2') format('woff2'),
      url('https://crpttim.github.io/Inter-Medium.woff') format('woff'),
      url('https://crpttim.github.io/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




